[project]
	state = active
	description = git clone ssh://gerrithost:29418/RecipeBook.git RecipeBook
[access "refs/*"]
	owner = group Game-All-Devs
	owner = group Registered Users
	read = group Game-All-Devs
	read = group Registered Users
	abandon = group Game-All-Devs
	abandon = group Registered Users
	create = group Game-All-Devs
	create = group Registered Users
	forgeAuthor = group Game-All-Devs
	forgeAuthor = group Registered Users
	forgeCommitter = group Game-All-Devs
	forgeCommitter = group Registered Users
	forgeServerAsCommitter = group Game-All-Devs
	forgeServerAsCommitter = group Registered Users
	push = group Game-All-Devs
	push = group Registered Users
	pushMerge = group Game-All-Devs
	pushMerge = group Registered Users
	pushTag = group Game-All-Devs
	pushTag = group Registered Users
	pushSignedTag = group Game-All-Devs
	pushSignedTag = group Registered Users
	label-Code-Review = -2..+2 group Game-All-Devs
	label-Code-Review = -2..+2 group Registered Users
	rebase = group Game-All-Devs
	rebase = group Registered Users
	removeReviewer = group Game-All-Devs
	removeReviewer = group Registered Users
	submit = group Game-All-Devs
	submit = group Registered Users
	viewDrafts = group Game-All-Devs
	viewDrafts = group Registered Users
	editTopicName = group Game-All-Devs
	editTopicName = group Registered Users
	deleteDrafts = group Game-All-Devs
	deleteDrafts = group Registered Users
	publishDrafts = group Game-All-Devs
	publishDrafts = group Registered Users
