[project]
	state = active
[access "refs/*"]
	owner = group Game-All-Devs
	read = group Game-All-Devs
	abandon = group Game-All-Devs
	create = group Game-All-Devs
	forgeAuthor = group Game-All-Devs
	forgeCommitter = group Game-All-Devs
	forgeServerAsCommitter = group Game-All-Devs
	push = group Game-All-Devs
	pushMerge = group Game-All-Devs
	pushTag = group Game-All-Devs
	pushSignedTag = group Game-All-Devs
	label-Code-Review = -2..+2 group Game-All-Devs
	rebase = group Game-All-Devs
	removeReviewer = group Game-All-Devs
	submit = group Game-All-Devs
	viewDrafts = group Game-All-Devs
	editTopicName = group Game-All-Devs
	deleteDrafts = group Game-All-Devs
	publishDrafts = group Game-All-Devs
